.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu{
  background-color: #3399ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-item {
  float:right;
  color: white;
}

.navlink-item{
  color:white !important;
  font-size: larger;
}

.ant-divider{
  font-size: larger;
}

.toDoList, .doneList, .toDoGenerator{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.ant-input-affix-wrapper{
  width:90%;
}

.deleteButton{
  position: absolute;
  right: 10px;
  margin-top: -5px;
}

.addButton{
  margin-top: -5px;
}

.labelGenerator{
  position: absolute;
  right: 50px;
  margin-top: -20px;
}

.ant-menu-item:hover{
  color: white !important;
}

.ant-card, .labelListForm{
  width:80%;
  margin: 0 auto;
  margin-top: 50px;
}

.LabelManagerAddButon{
  position: absolute;
  right: 90px;
  margin-top: -5px;
}

.LabelManagerDeleteButon{
  position: absolute;
  right: 40px;
  margin-top: -5px;
}

.colorPicker{
  position: absolute;
  right: 150px;
}

.badge{
  position: absolute;
  right: 160px;
}

.ant-badge-status-dot{
  width: 20px;
  height: 20px;
}







